
<div ng-controller="loginCtrl">
  <div class="panel panel-default" style="margin: 10px;">
    <div class="panel-heading">
      <h2 class="panel-title">Zaloguj się</h2>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="last_name">Login</label>
        <input class="form-control validate" type="text" id='login' ng-model="login" />

        <label for="last_name">Hasło</label>
        <input class="form-control validate" type="password" id='password' ng-model="password" />
           <br/>
      <button type='submit' name='btn_login' class="btn btn-default" ng-click="zaloguj()">Zaloguj</button>

      </div>
      <a href="#/register">Zarejestruj się</a>
    </div>
  </div>
</div>