
<div ng-controller="registerCtrl">
    <main>

        <div class="panel panel-default" style="margin: 10px;">
            <div class="panel-heading">
                <h2 class="panel-title">Zarejestruj się</h2>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="first_name">Imię</label>
                    <input class="form-control validate" type="text" id='first_name' ng-model="first_name" />

                    <label for="last_name">Nazwisko</label>
                    <input class="form-control validate" type="text" id='last_name' ng-model="last_name" />

                    <label for="last_name">E-mail</label>
                    <input class="form-control validate" type="text" id='email' ng-model="email" />

                    <label for="last_name">Numer telefonu</label>
                    <input class="form-control validate" type="text" id='phone_number' ng-model="phone_number" />

                    <label for="last_name">Login</label>
                    <input class="form-control validate" type="text" id='login' ng-model="login" />

                    <label for="last_name">Hasło</label>
                    <input class="form-control validate" type="password" id='password' ng-model="password" />
                </div>
                <br/>
                <button type='submit' name='btn_login' class="btn btn-default" ng-click="rejestracja()">Zarejestruj</button>
            </div>
        </div>
    </main>
</div>