

    .input-field input[type=date]:focus + label,
    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label {
      color: #e91e63;
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 2px solid #e91e63;
      box-shadow: none;
    }

html,body,.container {
    height:100%;
}

    .background-blue {
      background-color: #24478f;
      color: white;
    }

    body, html {
      background-color: #98b2e6;
 height: 100%;
    }

    .height-full-perc {
      height: 100%;
    }

    .height-full {
          -webkit-box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    box-sizing: padding-box;
    height: 100vh;
    padding : 0px 10px 10px 10px;
    }